@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap");

:root {
  --gray: rgb(161, 161, 161);
  --red: rgb(197, 77, 77);
  --black: rgb(43, 43, 43);
  --white: #fcfcfc;
  --dark-red: #5d0909;
}
* {
  transition: 0.3s;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--black);
  background-color: #f7f7f7;
}
a {
  text-decoration: none;
  color: var(--black);
}
ul {
  list-style: none;
}
p {
  font-size: 20px;
  color: var(--black);
  margin: 0;
  line-height: 1.5;
}
.container {
  width: 80%;
  margin: auto;
}
.h1 {
  color: var(--red);
  font-size: 70px;
  text-shadow: 3px 3px 3px var(--gray);
  @media (max-width: 768px) {
    font-size: 50px;
  }
}
header {
  box-shadow: 0px 0px 10px var(--gray);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      .user {
        font-size: 30px;
        color: var(--gray);
      }
      span {
        margin-left: 20px;
        font-size: 25px;
        font-family: "Playwrite AR", cursive;
        color: var(--red);
        @media (max-width: 492px) {
          font-size: 20px;
          margin-left: 10px;
        }
      }

      &:hover span {
        color: var(--black);
      }
      &:hover .user {
        color: var(--red);
      }
    }

    nav {
      @media (max-width: 992px) {
        display: none;
      }
      a {
        color: var(--black);
        margin: 0 20px;
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 18px;

        &:hover {
          color: white;
          background-color: var(--red);
        }
      }
    }

    .resume {
      span {
        color: var(--red);
        margin-right: 10px;
        font-size: 20px;
      }

      .download {
        color: var(--red);
        font-size: 20px;
        animation-name: download;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }

    #menu {
      display: none;
      cursor: pointer;

      @media (max-width: 992px) {
        display: block;
      }
    }
  }
}

@keyframes download {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* start hero-section  */
.hero-section {
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-left: 10px;
    top: 40%;
    background-color: var(--white);
    padding: 20px;
    border-radius: 25px;

    @media (max-width: 768px) {
      top: 60%;
    }

    a {
      font-size: 30px;
      color: rgb(34, 34, 34);

      &:hover {
        color: var(--red);
      }
    }
  }
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .txt {
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      h1 {
        font-size: 50px;
        @media (max-width: 992px) {
          font-size: 30px;
        }
        span {
          color: var(--red);
        }
      }

      p {
        font-size: 24px;
        color: var(--black);
        @media (max-width: 992px) {
          font-size: 18px;
        }
      }
    }
    .img {
      width: 400px;
      margin-top: 20px;
      @media (max-width: 768px) {
        display: none;
      }
      img {
        width: 100%;
      }
    }
  }
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  @media (max-width: 1124px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.project img {
  @media (max-width: 768px) {
    width: 80%;
  }
}
.project .txt {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project .txt h2 {
  color: var(--red);
  font-size: 48px;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 30px;
    margin-top: 20px;
  }
}

.project .txt p {
  @media (max-width: 768px) {
    font-size: 14px;
    /* margin-top: 20px; */
  }
}

ul {
  display: flex;
  padding: 0;
  @media (max-width: 1124px) {
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
}

ul li {
  margin-right: 30px;
  background-color: var(--white);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px var(--gray);

  @media (max-width: 1124px) {
    margin-right: 0;
    font-size: 14px;
  }
}

.links {
  @media (max-width: 1124px) {
    margin-top: 30px;
  }
  a {
    color: var(--red);
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    margin-right: 15px;
  }
}

.links a:hover {
  color: white;
  background-color: var(--red);
}

.links .demo {
  padding: 10px 25px;
}

/* start about  */
.contact {
  margin-bottom: 30px;
}
.about-cont {
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;

  @media(max-width: 768px){
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.about .txt {
  width: 60%;
  @media(max-width: 768px){
    width: 100%;
    font-size: 14px;
  }
}

.about .img img {
  width: 200px;
}

/* contact section  */
.contact-cont {
  background-color: var(--white);
  border-radius: 15px;
  padding: 30px;

  @media(max-width: 992px){
    /* padding: 0; */
  }
}
.contact-cont div {
  margin-bottom: 20px;
}

.contact-cont div:hover {
  color: var(--red);
}
.contact-cont a {
  margin-left: 30px;
  color: var(--dark-red);
  font-size: 28px;
  @media (max-width: 992px){
    font-size: 18px;
    margin-left: 10px;
  }
}
.contact-cont a:hover {
  color: var(--red);
}

.contact-cont .i {
  color: var(--dark-red);
  font-size: 30px;
  @media (max-width: 992px){
    font-size: 16px;
  }
}
